body {
  background-color: rgb(251, 242, 255);
  text-align: center
}

h1 {
  font-family: 'Fredoka One', cursive;
}

h5 {
  font-family: 'Nunito', sans-serif;
}

p {
  font-family: 'Nunito', sans-serif;
}
